.container {
  display: grid;
  grid-gap: 1rem;
  place-items: center;
  margin-bottom: 30px;
}

.form {
  display: grid;
  grid-row-gap: 1rem;
  place-items: center;
}

.form > p {
  font-size: 14px;
}

.accent {
  color: #3c91e6;
  font-weight: 500;
}

.form > div {
  display: grid;
  grid-gap: 10px;
}

.input {
  width: 280px;
  border: 0.7px solid #ededed;
  border-radius: 5px;
  padding: 10px;
  color: #000;
  font-size: 15px;
}

#buttons button {
  border: 0.7px solid #3c91e6;
  width: 258px;
  border-radius: 3px;
  font-size: 15px;
  padding: 10px 40px;
  cursor: pointer;
  color: #3c91e6;
  background: #fff;
  box-shadow: 0 3px 7px 0 #dbdbdb;
}

#buttons button:hover {
  background: #3c91e6;
  color: #fff;
}
