.container {
  display: grid;
  grid-gap: 2rem;
  place-items: center;
  margin-top: 60px;
}

.mainImage {
  text-align: center;
}

.image {
  width: inherit;
  max-width: 80%;
  height: auto;
}

.category {
  display: grid;
  grid-gap: 1.5rem;
}

.categoryTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.viewMore {
  color: #7e7e7e;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}

.studyCards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5rem;
}
