* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  letter-spacing: -0.75px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}
